*{
    margin: 0;
}

button:hover{
    cursor: pointer;
}

body{
    background-color: #101014;
    color: white;
    font-family: arial;
}

.limit-line{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}